<!--
  Copyright 2013, 2016 IBM Corp.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script type="text/x-red" data-template-name="Carousel">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="common.label.name"></span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]common.label.name">
    </div>
    <!--<div class="form-row">
        <label data-i18n="routes.label.property"></label>
        <input type="text" id="node-input-property" style="width: 70%"/>
    </div>-->
	<div>
		<label data-i18n="ButtonRoute.label.prompt" style="display:inline;margin-right: 52px"><i class="fa fa-tag"></i>prompt</label>
        <textarea rows="5" type="text" id="node-input-prompt" style="display:inline;margin-right: 52px; width:315px" placeholder="Enter prompt"/>
	</div><!--
	<div class="form-row" style="margin-bottom:0;">
		<label><i class="fa fa-list"></i> <span>Buttons</span></label>
	</div>-->
    <div class="form-row node-input-rule-container-row" style="margin-top:5px">
        <ol id="node-input-rule-container"></ol>
    </div>
	<!--
    <div class="form-row">
        <select id="node-input-checkall" style="width:100%; margin-right:5px;">
            <option value="true" data-i18n="routes.checkall"></option>
            <option value="false" data-i18n="routes.stopfirst"></option>
        </select>
    </div>-->
</script>

<script type="text/x-red" data-help-name="Carousel">
    <p>A node to route messages based on property values.</p>
    <p>When a message arrives, the selected property is evaluated against each
    of the defined rules. The message is then sent to the output of <i>all</i>
    rules that pass.</p>
    <p><b>Note</b>: the <i>otherwise</i> rule applies as a "not any of" the rules preceding it.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('Carousel', {
        color: "#E2D96E",
        category: 'Create Bot',
        defaults: {
            name: {value:""},
            property: {value:"payload", required:true},
         	prompt:{value:''},
            outputs: {value:1},
			rules: {value:[{t:"eq", v:""}]},
	    },
        inputs: 1,
        outputs: 1,
        icon: "switch.png",
        label: function() {
            return this.name||"Carousel";
        },
        oneditprepare: function() {
		    var node = this;
			
			$('#node-input-name').keyup(function(){
				str = $(this).val()
				str = str.replace(/\s/g,'')
				$(this).val(str)
			});
			
            function resizeRule(rule) {
                var newWidth = rule.width();
                var valueField = rule.find(".node-input-rule-value");
                var btwnField1 = rule.find(".node-input-rule-btwn-value");
                var btwnField2 = rule.find(".node-input-rule-btwn-value2");
				var btwntype = rule.find(".node-input-rule-btwn-type");
				var value = rule.find(".node-input-rule-value");
            }
	        $("#node-input-rule-container").css('min-height','250px').css('min-width','450px').editableList({
                addItem: function(container,i,opt) {
			        var rule = opt;
					console.log(rule);
                    var row = $('<div/>').appendTo(container);
                    var row2 = $('<div/>',{style:"padding-top: 5px; padding-left: 175px;"}).appendTo(container);
                    var row3 = $('<div/>',{style:"padding-top: 5px; padding-left: 5px;"}).appendTo(container);
                    var valueField = $('<input />',{value:rule.imageurl, accept:"image/*", id:"imgInp", class:"node-input-rule-imgpath",placeholder:"Enter Image Url", type:"text",style:"margin-left: 5px;"}).appendTo(row);
					//var blah = $('<img/>',{src:rule.imageurl,id:'blah'}).appendTo(row);
                    var btwnValueField = $('<input/>',{value:rule.textmsg, class:"node-input-rule-btwn-value",placeholder:"Enter text message", type:"text",style:"margin-left: 6px; margin-top: 5px;"}).appendTo(row);
					var seperator = $('<br/><br/><label><i class="fa fa-list"></i> <span>Buttons</span></label><br/>').appendTo(row);
					var title = $('<input/>',{value:rule.title, class:"node-input-rule-title",placeholder:"Enter title", type:"text",style:"margin-left: 6px; margin-top: 5px;"}).appendTo(row);
					var value = $('<input/>',{value:rule.value, class:"node-input-rule-value",placeholder:"Enter value", type:"text",style:"margin-left: 6px; margin-top: 5px;"}).appendTo(row);
					 if(rule.routeType){
						var routeType = $('<input/>',{value:rule.routeType, class:"node-input-rule-btwn-type",placeholder:"Enter type", type:"text",style:"margin-left:2px;"}).appendTo(row3);
					}
					else{
					var routeType = $('<input/>',{value:"postBack", class:"node-input-rule-btwn-type",placeholder:"Enter type", type:"text",style:"margin-left:2px;"}).appendTo(row3)
					}
                    var finalspan = $('<span/>',{style:"float: right;margin-top: 6px;"}).appendTo(row);
                    finalspan.append(' &#8594; <span class="node-input-rule-index">'+(i+1)+'</span> ');
					
						 function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					
					reader.onload = function (e) {
						$('#blah').attr('src', e.target.result);
					}
					
					reader.readAsDataURL(input.files[0]);
				}
			}
			  /* $("#imgInp").change(function(){
					readURL(this);
				});*/
               
                },
                removeItem: function(opt) {
                    var rules = $("#node-input-rule-container").editableList('items');
                    rules.each(function(i) { $(this).find(".node-input-rule-index").html(i+1); });
                },
                resizeItem: resizeRule,
                sortItems: function(rules) {
                    var rules = $("#node-input-rule-container").editableList('items');
                    rules.each(function(i) { $(this).find(".node-input-rule-index").html(i+1); });
                },
                sortable: true,
                removable: true
            });
			if (this.rules) {
		    for (var i=0;i<this.rules.length;i++) {
                var rule = this.rules[i];
				
                $("#node-input-rule-container").editableList('addItem',rule);
            }
			}
        },
        oneditsave: function() {
            var rules = $("#node-input-rule-container").editableList('items');
            var ruleset;
            var node = this;
            node.rules= [];
            rules.each(function(i) {
                var rule = $(this);
                var r = {};
			            r.imageurl = rule.find(".node-input-rule-imgpath").val();
						r.title = rule.find(".node-input-rule-title").val();
						r.textmsg = rule.find(".node-input-rule-btwn-value").val();
                        r.routeType = rule.find(".node-input-rule-btwn-type").val();
						r.value = rule.find(".node-input-rule-value").val();
			    node.rules.push(r);
				
            });
		    this.outputs = node.rules.length;
            this.propertyType = $("#node-input-property").typedInput('type');
        },
        oneditresize: function(size) {
            var rows = $("#dialog-form>div:not(.node-input-rule-container-row)");
            var height = size.height;
            for (var i=0;i<rows.size();i++) {
                height -= $(rows[i]).outerHeight(true);
            }
            var editorRow = $("#dialog-form>div.node-input-rule-container-row");
            height -= (parseInt(editorRow.css("marginTop"))+parseInt(editorRow.css("marginBottom")));
            $("#node-input-rule-container").editableList('height',height);
        }
    });
</script>
