<script type="text/javascript">
    RED.nodes.registerType('BotConfiguration',{
        category: 'Configure Bot',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
			botId: {value: ""},
			_id:{value: ""},
			Description: {value: ""},
			imageUrl:{value:""},
			bottype:{value:""},
			//bottype:{value:""},
			url:{value:""},
			email:{value:""},
			__v:{value:"1"}
	    },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"BotConfiguration";
        },
		oneditprepare:function(){
    },
	oneditsave:function(){
	}
	})
</script>

<script type="text/x-red" data-template-name="BotConfiguration">
	<div>
		<div class="form-row" style="display:none">
			<label for="node-input-name"><i class="icon-tag"></i> Name</label>
			<input type="text" id="node-input-name" placeholder="Name">
		</div>
		<div class="form-row" style="display:none">
			<label for="node-input-botId"><i class="icon-tag"></i> Package Name</label>
			<input type="text" id="node-input-botId" placeholder="Enter Package Name">
		</div>

		<div class="form-row">
			<label for="node-input-_id"><i class="icon-tag"></i> Bot Name</label>
			<input type="text" id="node-input-_id" placeholder="Enter Bot Name">
		</div>
		<div class="form-row">
			<label for="node-input-Description"><i class="icon-tag"></i> Description</label>
			<input type="text" id="node-input-Description" placeholder="Enter Description">
		</div>
		<div class="form-row" style="display:none">
			<label for="node-input-imageUrl"><i class="icon-tag"></i> Image Url</label>
			<input type="text" id="node-input-imageUrl" placeholder="Enter Image Url">
		</div>
		<div class="form-row" style="display:none">
			<label for="node-input-bottype"><i class="icon-tag"></i> Type</label>
			<input type="text" id="node-input-bottype" placeholder="Enter Type">
		</div>
		<div class="form-row" style="display:none">
			<label for="node-input-url"><i class="icon-tag"></i> Url</label>
			<input type="text" id="node-input-url" placeholder="Enter Url">
		</div>
		<div class="form-row" style="display:none">
			<label for="node-input-email"><i class="icon-tag"></i> Email</label>
			<input type="text" id="node-input-email" placeholder="Enter Email">
		</div>
		<div class="form-row">
			<label for="node-input-__v"><i class="icon-tag"></i> Version</label>
			<input type="text" id="node-input-__v" placeholder="Enter version">
		</div>
	</div>
	
</script>

<script type="text/x-red" data-help-name="BotConfiguration">
	 <p>tranform node</p>
	 <p>Allows access to transform json object.</p>
    <p>This node uses the <b>Javascript Expression</b> This does allow Transform json property and add more property to existing object by using expression
    </p>
    <p><code>msg.payload</code> can contain an array of JSON object.</p>
    <p>To transform any extsiting property in expression input have to enter property name and expression. If you want to use any proprty name srround them in square brackets []<code>[]</code></p>
    <p>In output input, Enter new property name.</p>
	<p>Example - <code>Expression - [FirstName].concat(" ").concat([LastName])</code><br><code>Output Column - firstLetter</code></p>
	<p>Above expression will be performed on name property of payload json object and output of that expression will be binded to new property called firstLetter</p>
	<p><b>Note - </b>You can write only 5 expression which can be perfomed on single property or multiple property.</p>
</script>
