<script type="text/javascript">
    RED.nodes.registerType('SelectBot',{
        category: 'Deploy Bot',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
			BotOptions: {value: ""},
			selectedVal:{value: ""}
	    },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"SelectBot";
        },
		oneditprepare:function(){
		var node = this;
		var url = window.location.origin + window.location.pathname+'flows/'
		 $.ajax({
			url:url,
			success:function(data) {
			  handleData(data); 
			}
			});
			
			function handleData(data){
				data.forEach(function(flow,index)
				{
					if(flow.label)
					{
						$('.node-input-BotOptions').append('<option value='+flow.id+'>'+flow.label+'</option>');
					}
				}
				)
				$('.node-input-BotOptions').val(node.selectedVal);
				$('#node-input-selectedVal').val(node.selectedVal);
				
			}
			
			$('.node-input-BotOptions').on('change',function(){
				//node.selectedVal = "";
				node.selectedVal = this.value;
				node.BotOptions = this.value;
				node.name = this.value;
				$('#node-input-selectedVal').val(this.value);
				//$('.node-input-BotOptions').val("");
				$('.node-input-BotOptions').val(this.value);
			//	console.log(node);
			});
			
			
    },
	oneditsave:function(){
				var node = this;
				node.selectedVal  = "";
				node.BotOptions = "";
				node.selectedVal = $('.node-input-BotOptions').val();
				node.BotOptions = $('.node-input-BotOptions').val();
				$('#node-input-selectedVal').val("");
				$('#node-input-selectedVal').val(node.selectedVal);
				$('.node-input-BotOptions').val(node.BotOptions);
	}
	})
</script>

<script type="text/x-red" data-template-name="SelectBot">
	<div>
		<div class="form-row" style="display:none">
			<label for="node-input-name"><i class="icon-tag"></i> Name</label>
			<input type="text" id="node-input-name" placeholder="Name">
		</div>
		<div class="form-row">
			<label for="node-input-BotOptions"><i class="icon-tag"></i> Select Bot</label>
			<select class="node-input-BotOptions">
			<option>---Select Bot-----</option>
			</select>
		</div>
		<div class="form-row" style="display:none">
			<label for="node-input-selectedVal"></label>
			<input type="text" id="node-input-selectedVal">
		</div>
	</div>
	
</script>

<script type="text/x-red" data-help-name="SelectBot">
	
</script>
