<script type="text/javascript">
    RED.nodes.registerType('PrimitiveNode',{
        category: 'Configure Bot',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
			_id:{value: ""},
			initialRoute:{value:""}
	    },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"PrimitiveNode";
        },
		oneditprepare:function(){
    },
	oneditsave:function(){
	}
	})
</script>

<script type="text/x-red" data-template-name="PrimitiveNode">
	<div>
		<div class="form-row" style="display:none">
			<label for="node-input-name"><i class="icon-tag"></i> Name</label>
			<input type="text" id="node-input-name" placeholder="Name">
		</div>
		<div class="form-row">
			<label for="node-input-_id"><i class="icon-tag"></i>Bot Name</label>
			<input type="text" id="node-input-_id" placeholder="Enter name">
		</div>
		<div class="form-row">
			<label for="node-input-initialRoute"><i class="icon-tag"></i>Initial Route</label>
			<input type="text" id="node-input-initialRoute" placeholder="Enter Initial Route">
		</div>
		
	</div>
	
</script>

<script type="text/x-red" data-help-name="PrimitiveNode">
	 <p>tranform node</p>
	 <p>Allows access to transform json object.</p>
    <p>This node uses the <b>Javascript Expression</b> This does allow Transform json property and add more property to existing object by using expression
    </p>
    <p><code>msg.payload</code> can contain an array of JSON object.</p>
    <p>To transform any extsiting property in expression input have to enter property name and expression. If you want to use any proprty name srround them in square brackets []<code>[]</code></p>
    <p>In output input, Enter new property name.</p>
	<p>Example - <code>Expression - [FirstName].concat(" ").concat([LastName])</code><br><code>Output Column - firstLetter</code></p>
	<p>Above expression will be performed on name property of payload json object and output of that expression will be binded to new property called firstLetter</p>
	<p><b>Note - </b>You can write only 5 expression which can be perfomed on single property or multiple property.</p>
</script>
